@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,700);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:400,500,600);
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

body {
    font: 400 14px/28px "Roboto",sans-serif;
    color: #7A7A7A;
    text-rendering: optimizelegibility;
}

.wy-body-for-nav {
    background: #FFFFFF;
}

.wy-nav-content {
    background: #FFFFFF;
}

.wy-nav-content-wrap {
    background: #FFFFFF;
}

.rst-content h1:hover .headerlink,
.rst-content h2:hover .headerlink,
.rst-content h3:hover .headerlink,
.rst-content h4:hover .headerlink,
.rst-content h5:hover .headerlink,
.rst-content h6:hover .headerlink,
.rst-content dl dt:hover .headerlink {
    display: inline;
}

.wy-plain-list-disc li,
.rst-content .section ul li,
.rst-content .toctree-wrapper ul li,
article ul li {
    font: 400 14px/28px "Roboto",sans-serif;
    color: #7A7A7A;
}

.wy-nav-side {
    background: #293134;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.wy-side-nav-search {
    font-family: "Lato", "Roboto", sans-serif;
    font-size: 15px;
    background-color: #2F393C;
}

.wy-menu-vertical ul {
    font-family: "Lato", "Roboto", sans-serif;
    margin-right: 1em;
}

.wy-menu-vertical li.current {
    background: #293134;
}

.wy-menu-vertical li.on a, .wy-menu-vertical li.current > a {
    background: #293134;
    border: 0;
}

.wy-menu-vertical li a {
    opacity: 0.6;
}

.wy-menu-vertical li a, .wy-menu-vertical li.current > a {
    padding: 0.3045em 2em;
    border-radius: 0 5px 5px 0;
}

.wy-menu-vertical li.current a {
    font-size: 13px;
    border-right: 0;
    opacity: 1;
    padding: 0.3045em 3em;
}

.wy-menu-vertical li.current > a {
    font-size: 14px;
    border-right: 0;
    padding-left: 2em;
}

.wy-menu-vertical li.toctree-l2.current > a {
    background: none;
    padding: 0.3045em 3em;
    font-size: 13px;
}

.wy-menu-vertical li.toctree-l2.current > a::before {
    font-family: "FontAwesome";
    content: "";
    color: #EC7600;
    font-size: 8px;
    position: absolute;
    top: 0.6045em;
    left: 3em;
}

.wy-menu-vertical li.toctree-l2.current li.toctree-l3 > a  {
    background: none;
    padding: 0 4em;
    font-size: 12px;
}

.wy-menu-vertical li.toctree-l2.current li.toctree-l3.current ul {
    display: None;
}

.wy-menu-vertical a,
.wy-menu-vertical a:visited {
    color: #81969A;
    line-height: 24px;
    font-size: 14px;
}

.wy-menu-vertical a:hover {
    color: #81969A;
    background: #2F393C;
}

.wy-menu-vertical li.current a,
.wy-menu-vertical li.current a:visited {
    color: #81969A;
}

.wy-menu-vertical li.current a:hover {
    color: #81969A;
    background: #2F393C;
}

.wy-menu-vertical li.current > a {
    color: #81969A !important;
}

.wy-menu-vertical li.current > a:hover {
    background: #293134 !important;
}

.wy-side-nav-search input[type="text"] {
    border: 0;
    background: none;
    box-shadow: none;
    color: #FFFFFF;
    font-size: 13px;
    width: 90%;
    border-radius: 0;
    border-bottom: 1px solid rgba(129, 150, 154, 0.7);
    opacity: 0.7;
    padding: 6px 0;
}

.wy-side-nav-search > a,
.wy-side-nav-search > a:visited {
    color: #81969A;
}

.wy-side-nav-search > a:hover {
    background: none;
}

.wy-menu-vertical li span.toctree-expand::before {
    content: "";
    opacity: 0.3;
    color: #81969A;
    font-size: 10px;
    position: relative;
    top: 2px;
}

.wy-menu-vertical li.on a span.toctree-expand::before,
.wy-menu-vertical li.current > a span.toctree-expand::before {
    content: "";
    color: #EC7600;
    opacity: 1;
}

.wy-menu-vertical li.current ul li a span.toctree-expand {
    display: none;
}

.rst-content table.docutils,
.rst-content table.field-list {
    border: medium none;
    width: 100%;
}

.rst-content table.docutils thead th,
.rst-content table.field-list thead th
{
    font-family: "Montserrat", serif;
    text-transform: uppercase;
    color: #7A7A7A;
    font-weight: 500;
}

.rst-content table.docutils thead th,
.rst-content table.field-list thead th,
.rst-content table.docutils tbody td,
.rst-content table.field-list tbody td
{
    border-top: 0;
    border-bottom: 1px solid rgba(230, 230, 230, 0.7);
    border-left: 0;
    border-right: 0;
    padding: 20px;
    white-space: pre-wrap;
}

.wy-table-odd td,
.wy-table-striped tr:nth-child(2n-1) td,
.rst-content table.docutils:not(.field-list) tr:nth-child(2n-1) td {
    background: none;
}

.rst-content .highlighted {
    background: rgba(205, 220, 57, 0.7);
    border: 1px solid rgba(205, 220, 57, 0.9);
    padding: 1px 3px;
    border-radius: 3px;
    color: rgba(135, 150, 0, 1);
}

h1, h2, h3, h4, h5, h6 {
    color: #7A7A7A;
    padding: 10px 0px;
    font-family: "Montserrat",serif;
    line-height: 1;
    margin: 40px 0 30px 0;
    font-weight: 400;
}

h1 {
    font-size: 42px;
}

h2 {
    font-size: 32px;
    color: #2C3E50;
    position: relative;
}

h2:before {
    content: "#";
    margin-left: -30px;
    font-size: 32px;
    top: 10px;
    color: #03A9F4;
    opacity: 0.6;
    position: absolute;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}


h1,
h1 a,
.header h1,
.header h1 a {
    font: 700 42px/66px "Roboto", "Montserrat", sans-serif;
    margin-bottom: 30px;
    font-weight: 700;
    color: #2C3E50;
}

a, a:visited {
    color: #00BCD4;
}

a > em {
    font-style: normal;
}

p {
    font: 400 14px/28px "Roboto",sans-serif;
    color: #7A7A7A;
}

b, strong {
   font-weight: 500;
}

pre, pre code, .rst-content tt, code.docutils {
    font-family: "Source Code Pro", "Consolas", "Menlo", "Monaco", "Courier New", Courier, monospace;
    color: #CB6077;
    background-color: #FFFFFF;
    font-size: 13px;
    font-weight: 500;
}

pre, code, .rst-content ttc {
	font-family: "Source Code Pro", "Consolas", "Menlo", "Monaco", "Courier New", Courier, monospace;
	font-weight: 400;
    border-radius: 3px;
    font-size: 13px;
    margin: 0px 2px;
}

div[class^="highlight"] {
    border: 0;
}

.highlight > pre, div[class^="highlight"] pre {
    font-family: "Source Code Pro", "Consolas", "Menlo", "Monaco", "Courier New", Courier, monospace;
	border: 1px solid #F2F2F2;
    font-size: 13px;
    padding: 4%;
    color: #7A7A7A;
    background-color: #FAFAFA;
}

code {
    font-family: "Source Code Pro", "Consolas", "Menlo", "Monaco", "Courier New", Courier, monospace;
    color: #CB6077;
    background-color: #FFFFFF;
    font-size: 13px;
    font-weight: 500;
}

p > code,
.rst-content tt,
p > code.docutils {
    color: #CB6077;
    padding: 0;
    display: inline;
    font-weight: 500;
    border: 0;
    background-color: #FFFFFF;
}

.rst-content .admonition-title {
    display: none;
}

.rst-content .note,
.rst-content .warning,
.rst-content .versionadded{
    padding: 0px 40px;
    margin: 30px 0px;
    background: #FFFFFF;
}

.rst-content .note {
    border-left: 1px solid rgba(60, 147, 206, 0.7);
    color: rgb(99, 169, 216) !important;
}

.rst-content .warning {
    border-left: 1px solid #FF9800;
    color: #FFC107 !important;
}

.rst-content .note > p {
    padding: 12px 12px 12px 0;
    color: rgb(99, 169, 216) !important;
}

.rst-content .warning > p {
    padding: 12px 12px 12px 0;
    color: #FF9800 !important;
}

.rst-content .versionadded {
    color: #BEB55B !important;
}

.rst-content .versionadded > p {
    color: #BEB55B !important;
}

.rst-content .versionadded > p:before {
    font-family: FontAwesome;
    content: '';
    position: relative;
    left: -20px;
}

.note code {
    border: 0;
    padding: 0;
    display: inline;
}

.note ul li,
.warning ul li {
    color: inherit !important;
}

.warning code,
.warning tt {
    border: 0;
    padding: 0;
    display: inline;
}

.btn-neutral,
.btn-neutral:visited {
    color: #808080 !important;
    font: 400 12px/20px Montserrat,Arial,sans-serif;
    text-transform: uppercase;
    padding: 6px 14px;
    border-radius: 4px;
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0.05);
    transition: all 0.3s;
}

.btn-neutral:hover {
    background-color: rgba(0, 188, 212, 0.6) !important;
    color: rgba(255, 255, 255, 0.9) !important;
    /*color: rgba(0, 168, 192, 1) !important;*/
}

.btn-neutral:focus {
    background-color: rgba(0, 188, 212, 0.6) !important;
    color: rgba(255, 255, 255, 0.7) !important;
    box-shadow: none;
    padding: 6px 14px;
}

.btn-neutral span.fa {
    transition: all 0.3s;
}

.btn-neutral:hover span.fa-arrow-circle-left {
    padding-right: 5px;
}

.btn-neutral:hover span.fa-arrow-circle-right {
    padding-left: 5px;
}

.btn-neutral span.fa-arrow-circle-left:before {
    content: ''
}

.btn-neutral span.fa-arrow-circle-right:before {
    content: ''
}


/* Solarized Light

For use with Jekyll and Pygments

http://ethanschoonover.com/solarized

SOLARIZED HEX      ROLE
--------- -------- ------------------------------------------
base01    #586e75  body text / default code / primary content
base1     #93a1a1  comments / secondary content
base3     #fdf6e3  background
orange    #cb4b16  constants
red       #dc322f  regex, special keywords
blue      #268bd2  reserved keywords
cyan      #2aa198  strings, numbers
green     #859900  operators, other keywords
*/

.highlight { background-color: #fdf6e3; color: #586e75 }
.highlight .c { color: #93a1a1 } /* Comment */
.highlight .err { color: #586e75 } /* Error */
.highlight .g { color: #586e75 } /* Generic */
.highlight .k { color: #859900 } /* Keyword */
.highlight .l { color: #586e75 } /* Literal */
.highlight .n { color: #586e75 } /* Name */
.highlight .o { color: #859900 } /* Operator */
.highlight .x { color: #cb4b16 } /* Other */
.highlight .p { color: #586e75 } /* Punctuation */
.highlight .cm { color: #93a1a1 } /* Comment.Multiline */
.highlight .cp { color: #859900 } /* Comment.Preproc */
.highlight .c1 { color: #93a1a1 } /* Comment.Single */
.highlight .cs { color: #859900 } /* Comment.Special */
.highlight .gd { color: #2aa198 } /* Generic.Deleted */
.highlight .ge { color: #586e75; font-style: italic } /* Generic.Emph */
.highlight .gr { color: #dc322f } /* Generic.Error */
.highlight .gh { color: #cb4b16 } /* Generic.Heading */
.highlight .gi { color: #859900 } /* Generic.Inserted */
.highlight .go { color: #586e75 } /* Generic.Output */
.highlight .gp { color: #586e75 } /* Generic.Prompt */
.highlight .gs { color: #586e75; font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #cb4b16 } /* Generic.Subheading */
.highlight .gt { color: #586e75 } /* Generic.Traceback */
.highlight .kc { color: #cb4b16 } /* Keyword.Constant */
.highlight .kd { color: #268bd2 } /* Keyword.Declaration */
.highlight .kn { color: #859900 } /* Keyword.Namespace */
.highlight .kp { color: #859900 } /* Keyword.Pseudo */
.highlight .kr { color: #268bd2 } /* Keyword.Reserved */
.highlight .kt { color: #dc322f } /* Keyword.Type */
.highlight .ld { color: #586e75 } /* Literal.Date */
.highlight .m { color: #2aa198 } /* Literal.Number */
.highlight .s { color: #2aa198 } /* Literal.String */
.highlight .na { color: #586e75 } /* Name.Attribute */
.highlight .nb { color: #B58900 } /* Name.Builtin */
.highlight .nc { color: #268bd2 } /* Name.Class */
.highlight .no { color: #cb4b16 } /* Name.Constant */
/*.highlight .nd { color: #268bd2 }*/ /* Name.Decorator */
.highlight .nd { color: #cb4b16 }
.highlight .ni { color: #cb4b16 } /* Name.Entity */
.highlight .ne { color: #cb4b16 } /* Name.Exception */
.highlight .nf { color: #268bd2 } /* Name.Function */
.highlight .nl { color: #586e75 } /* Name.Label */
.highlight .nn { color: #586e75 } /* Name.Namespace */
.highlight .nx { color: #586e75 } /* Name.Other */
.highlight .py { color: #586e75 } /* Name.Property */
.highlight .nt { color: #268bd2 } /* Name.Tag */
.highlight .nv { color: #268bd2 } /* Name.Variable */
.highlight .ow { color: #859900 } /* Operator.Word */
.highlight .w { color: #586e75 } /* Text.Whitespace */
.highlight .mf { color: #ff9800 } /* Literal.Number.Float */
.highlight .mh { color: #ff9800 } /* Literal.Number.Hex */
.highlight .mi { color: #ff9800 } /* Literal.Number.Integer */
.highlight .mo { color: #ff9800 } /* Literal.Number.Oct */
.highlight .sb { color: #93a1a1 } /* Literal.String.Backtick */
.highlight .sc { color: #2aa198 } /* Literal.String.Char */
.highlight .sd { color: #586e75 } /* Literal.String.Doc */
.highlight .s2 { color: #2aa198 } /* Literal.String.Double */
.highlight .se { color: #cb4b16 } /* Literal.String.Escape */
.highlight .sh { color: #586e75 } /* Literal.String.Heredoc */
.highlight .si { color: #2aa198 } /* Literal.String.Interpol */
.highlight .sx { color: #2aa198 } /* Literal.String.Other */
.highlight .sr { color: #dc322f } /* Literal.String.Regex */
.highlight .s1 { color: #2aa198 } /* Literal.String.Single */
.highlight .ss { color: #2aa198 } /* Literal.String.Symbol */
.highlight .bp { color: #268bd2 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #268bd2 } /* Name.Variable.Class */
.highlight .vg { color: #268bd2 } /* Name.Variable.Global */
.highlight .vi { color: #268bd2 } /* Name.Variable.Instance */
.highlight .il { color: #2aa198 } /* Literal.Number.Integer.Long */

.highlight .s { color: #7BBDA4 } /* Literal.String */
.highlight .s1 { color: #7BBDA4 } /* Literal.String */
.highlight .si { color: #A89BB9 } /* Literal.String */
.highlight .m { color: #F4BC87 } /* Literal.Number */
.highlight .mf { color: #F4BC87 } /* Literal.Number */
.highlight .mh { color: #F4BC87 } /* Literal.Number */
.highlight .mi { color: #F4BC87 } /* Literal.Number */
.highlight .mo { color: #F4BC87 } /* Literal.Number */
.highlight .k { color: #BEB55B; font-weight: normal; } /* Keyword */
.highlight .kn { color: #BEB55B; font-weight: normal; } /* Keyword */
.highlight .ow { color: #BEB55B; font-weight: normal } /* Operator.Word */
.highlight .nc { color: #D28B71; font-weight: 500 } /* Name.Class */
.highlight .nf { color: #8AB3B5; font-weight: normal; } /* Name.Function */
.highlight .bp { color: #CB6077 } /* Name.Builtin.Pseudo */
.highlight .nd { color: #BB9584 } /* Name.Decorator */
.highlight .o { color: #7A7A7A } /* Operator */
.highlight .n { color: #7A7A7A }
.highlight .c { color: #B8AFAD; font-style: normal; }
.highlight .sd { color: #B8AFAD; font-style: normal; }
.highlight .nl { color: #A89BB9 } /* Name.Label */
.highlight .nn { color: #A89BB9 } /* Name.Namespace */
.highlight .nx { color: #A89BB9 } /* Name.Other */
.highlight .py { color: #A89BB9 } /* Name.Property */

/* Inline code */

tt.code, code.code {
    border: 1px solid #F2F2F2;
    font-weight: normal;
    display: inline;
    padding: 0.3em 0.5em;
    background-color: #FAFAFA;
}
tt.code .name, code.code .name { color: #7A7A7A }
tt.code .operator, code.code .operator { color: #7A7A7A }
tt.code .punctuation, code.code .punctuation { color: #7A7A7A }
tt.code .string, code.code .string { color: #7BBDA4 }
tt.code .number, code.code .number { color: #F4BC87 }
tt.code .integer, code.code .integer { color: #F4BC87 }
